@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";

@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

.testingDev {
  font-size: 25px;
  font-family: Nunito;
  color: red;
}
